[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "nehiljain.github.io"]
	path = nehiljain.github.io
	url = https://github.com/nehiljain/nehiljain.github.io.git
	branch = master
